.body-wrapper {
    text-align: center;
    background: url(assets/images/space.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 60px 0 0 0;
    width: 100%;
    height: 100vh;
}

.inner-wrapper-bg {
    margin: 60px 0 0 0;
    padding: 2px 10px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.accordion-wwd {
    margin: 10px auto;
    width: 40%;
}

.wwd-wrapper {
    margin: 40px 0 0 0;
}

@media screen and (max-device-width: 550px) {
    .title-header {
        font-size: 56px;
    }
    
    .accordion-button {
        font-size: 28px;
    }

    .accordion-body {
        font-size: 22px;
    }

    .accordion-wwd {
        margin: 10px auto;
        width: 80%;
    }
}